<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
     
    </title>
</head>

<body>
    <ul>
        <li>
            <a href="#">Signup</a>
        </li>
        <li>
            <a href="#">Login</a>
        </li>
    </ul>
    <h1>New Exercise page</h1>
    <form action="/exercises" method="POST">
        Exercise: <input type="text" name="name" /><br />
        Type: <input type="text" name="type" /><br />
        Is Accessible: <input type="checkbox" name="isAccessible" /><br />
        <input type="submit" name="" value="Create Exercise" />
    </form>
</body>

</html>