<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='/css/style.css' />
    <title></title>
</head>

<body>
    <div class="home-title">
    <h1>Exercise show page</h1>
    </div>
    <div class="Exercise-show-text">
    You chose <%= exercise.name %>. You are going to go <%= exercise.type %><% if (exercise.isAccessible) { %>
                ...Can you do it? <% } else { %> It is not Accessible <% } %>
    </div>
                        <br />
                        <br />

                        <nav>
                            <a class="index-back" href="/exercises">Back to Exercise Index</a>
                        </nav>
</body>

</html>